<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400&display=swap" rel="stylesheet">
    <style>
        * {
            margin:0;
            padding: 0;
        }
        body {
            font-family: 'Rubik', sans-serif;
            display: grid;
            grid-template-columns: 1fr minmax(622px,1fr) 1fr;
            grid-template-rows: 1fr 0.25fr 1fr;
        }

        .container {
            display: grid;
            grid-area: 2 / 2 / 3 /3;
            border-radius: 25px;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
            background-color: rgb(194, 194, 194);
            grid-template-rows: 1fr 3fr;
            justify-items: stretch;
            align-items: stretch;
        }

        .header {
            justify-self: center;
            align-self: end;
            padding: 2%;
        }

        .form-wrap {
            display: grid;
            grid-template-rows: 1fr;
            align-items: center;
        }

        .login-form {
            display: grid;
            align-self: stretch;
        }

        .login-form form{
            display: grid;
            grid-template-rows: 1fr 2fr 2fr;
            align-items: center;
            padding: 0 5% 2%;
        }

        input {
            box-sizing: border-box;
            height: 70%;
            border-radius: 5px;
            padding: 0 2%;
        }

        button {
            box-sizing: border-box;
            height: 60%;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>MyApp</h1>
        </div>
        <div class="form-wrap">
            <div class="login-form">
                <form method="post" action="/api/v1/user/auth/forgot_password">
                    <label for="email">Email</label>
                    <input type="text" name="email" placeholder="Insert your email">
                    <button type="submit">Send link to reset password</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>