<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400&display=swap" rel="stylesheet">
    <style>
        * {
            margin:0;
            padding: 0;
        }
        body {
            font-family: 'Rubik', sans-serif;
            display: grid;
            grid-template-columns: 1fr minmax(622px,1fr) 1fr;
            grid-template-rows: 1fr 1.5fr 1fr;
        }

        .container {
            display: grid;
            grid-area: 2 / 2 / 3 /3;
            border-radius: 25px;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
            background-color: rgb(194, 194, 194);
            grid-template-rows: 1fr 6fr;
            justify-items: stretch;
            align-items: stretch;
        }

        .header {
            justify-self: center;
            align-self: end;
        }

        .form-wrap {
            display: grid;
            grid-template-rows: 8fr 1fr 2fr 2fr 2fr;
            align-items: center;
        }

        .login-form {
            display: grid;
            align-self: stretch;
        }

        .login-form form{
            display: grid;
            grid-template-rows: 1fr 2fr 1fr 2fr 2fr;
            align-items: center;
            padding: 0 5%;
        }

        .google-button {
            display: grid;
            align-self: stretch;
        }

        .forgot-passwd {
            align-self: center;
            justify-self: center;
        }

        .google-button form {
            display: grid;
            align-items: center;
            padding: 0 5%;
        }

        input {
            box-sizing: border-box;
            height: 70%;
            border-radius: 5px;
            padding: 0 2%;
        }

        button {
            box-sizing: border-box;
            height: 60%;
            border-radius: 5px;
        }

        h4 {
            justify-self: center;
        }

        p {
            align-self: start;
            justify-self: center;
            padding: 1.5% 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>MyApp</h1>
        </div>
        <div class="form-wrap">
            <div class="login-form">
                <form method="post" action="/api/v1/user/auth/login">
                        <label for="email">Email</label>
                        <input type="text" name="email" placeholder="Insert your registered email">
                        <label for="password">Password</label>
                        <input type="text" name="password" placeholder="Insert your password">
                        <button type="submit">Log In</button>
                </form>
            </div>
            <h4>Or</h3>
            <div class="google-button">
                <form action="/api/v1/user/auth/google" method="get">
                    <button type="submit">Sign in with Google</button>
                </form>
            </div>
            <div class="forgot-passwd">
                <p><a href="/api/v1/page/auth/forgot_password">Forgot Password?</a></p>
            </div>
            <p>Don't have an account? <a href="/api/v1/page/auth/sign_in">Sign up</a></p>
        </div>
    </div>
</body>
</html>
