<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetings</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400&display=swap" rel="stylesheet">
    <style>
        * {
            margin:0;
            padding:0;
        }
        body {
            display: flex;
            justify-items: center;
            align-items: center;
            flex-direction: column;
            padding: 2%;
            font-family: 'Rubik', sans-serif;
        }
    </style>
</head>
<body>
    <h4>Hi<%= username %>, welcome to MyApp!</h4>
    <p>This app will provide your basic need of pyschology. Enjoy!</p>
</body>