
    <head>
        <title>Greetings</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400&display=swap" rel="stylesheet">
        <style>
            * {
                margin:0;
                padding:0;
            }
            body {
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 5% 20%;
                font-family: 'Rubik', sans-serif;
            }
            h3 {
                align-self: start;
                padding: 10px 0%;
            }
    
            p {
                padding: 10px 0%;
            }
        </style>
    </head>
    <body>
        <h3>MyApp</h3>
        <p>If you have no intention of reseting password, then <b>ignore this message</b></p>
        <p>If you want to reset your password, click below!</p>
        <p><a href="http://localhost:3000/api/v1/page/auth/reset_password/<%= id %>?token=<%= token %>">Reset</a></p>
    </body>